@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #27272a;
}

/* navbar */

nav li:hover #box {
    border: none;
}

/* section title */

#demotext {
    text-shadow: #00ff5e 0px 0px 5px, #00ff3c 0px 0px 10px, #00ff00 0px 0px 15px, #2dffae 0px 0px 20px, #3292ff 0px 0px 30px, #0caeff 0px 0px 40px, #10fff7 0px 0px 50px, #2dffa4 0px 0px 75px;
}

.carousel-status {
    margin-right: 1%;
    margin-top: 1.4%;
    background-color: #0caeff;
    text-shadow: none !important;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}

.control-dots {
    margin: 0rem !important;
}

.control-dots .dot {
    width: 16px !important;
    border-radius: 2px !important;
    height: 4px !important;
}